@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
.item {
  position: relative;
  background-color: slategray;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
  height: 180px;
  min-height: 180px;
  border-radius: 12px;
  padding: 16px;
  margin: 8px 8px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  transition: all 0.1s linear;
  @include tablet {
    width: calc(50% - 32px);
  }
  &:hover {
    cursor: pointer;
    transform: scale(105%);
  }
  &__thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__header {
    width: 100%;
  }
}
