@use "./variables" as *;

@mixin mobile-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin blank-slate-styling {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    position: relative;
  }

  a {
    color: unset;
    text-decoration: unset;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    margin: 0;
    padding: 0;
    font-weight: unset;
    font-size: unset;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  button {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  menu {
    margin: 0;
    padding: 0;
  }
}

@mixin popup-notification {
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: $color-light-primary;
    color: $color-text-dark;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $color-light-primary transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    -webkit-animation: fadeOut 1s 1s;
    animation: fadeOut 1s 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
