$color-black: #161616;

$color-attention: #fdad15;
$color-eggshell: #f2f2ea;

$color-text-light: white;
$color-text-dark: black;

$color-light-shade: #f2f2ea;
$color-light-accent: #f2f2ea;
$color-light-primary: #f2f2ea;

$color-dark-primary: #99291e;
$color-dark-accent: #661c14;
$color-dark-shade: #161616;

$color-error: #e41717;
$color-link: #008cff;
