$color-black: #161616;

$color-attention: #fdad15;
$color-eggshell: #f2f2ea;

$color-text-light: white;
$color-text-dark: black;

$color-light-shade: #F9E897;
$color-light-accent: #FFC374;
$color-light-primary: #B6C97C;

$color-dark-primary: #9197AE;
$color-dark-accent: #273043;
$color-dark-shade: #202020;

$color-error: #e41717;
$color-link: #008cff;
