$color-black: #161616;

$color-attention: #fdad15;
$color-eggshell: #f2f2ea;

$color-text-light: white;
$color-text-dark: black;

$color-light-shade: #f9e897;
$color-light-accent: #ffc374;
$color-light-primary: #b6c97c;

$color-dark-primary: #9197ae;
$color-dark-accent: #273043;
$color-dark-shade: #202020;

$color-error: #ce1111;
$color-link: #008cff;
