@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.menu-background {
  @include tablet {
    display: none;
  }
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 12.5rem;
  width: 12.5rem;

  transition: all 0.1s linear;
  background-color: $color-light-primary;

  &.open {
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    top: -12.5rem;
    right: -12.5rem;
    box-shadow: 0 0 0.75rem 0.0625rem rgba(0, 0, 0, 0.3);
  }

  &.closed {
    height: 0;
    width: 0;
  }
}

.open-menu {
  @include tablet {
    display: none;
  }
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__button {
    align-self: flex-end;
    &--icon {
      height: 2rem;
      width: 2rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;

    &--link {
      align-self: flex-end;
      @extend .label;
      font-weight: bold;
      letter-spacing: 0.2ch;
      padding: 0.125rem;
    }
  }
}
.close-menu {
  @include tablet {
    display: none;
  }
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $color-light-primary;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 0 0.75rem 0.0625rem rgba(0, 0, 0, 0.3);

  &__button {
    &--icon {
      height: 1.875rem;
      width: 1.875rem;
    }
  }

  &__nav {
    &--link {
    }
  }
}
