@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.main {
  @extend .format-padding;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.25rem;
  flex-wrap: wrap;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  & > * {
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0 1.25rem 0;
    width: 100%;

    height: max-content;

    @include tablet {
      flex-direction: row;
      min-height: 15.625rem;
      margin-top: 3rem;
      gap: 5%;
    }

    @include desktop {
      margin-top: 5rem;
    }
    &__headshot {
      display: flex;
      min-width: 12.5rem;
      width: 12.5rem;
      height: 12.5rem;
      border-radius: 50%;
      object-fit: cover;
      margin: 0.5rem 0;
      object-position: 50% 25%;
      box-shadow: 0 0 0.75rem 0.0625rem rgba(0, 0, 0, 0.3);

      @include tablet {
        height: 22.5rem;
        border-radius: 1.25rem;
        background-color: #b7ca78;
        object-fit: cover;
        object-position: 50% 50%;
        width: 50%;
        max-width: 18.75rem;
      }
    }

    .about-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      @include tablet {
        width: 75%;
        gap: 1rem;
      }

      @include desktop {
        gap: 1.25rem;
      }

      &__header {
        display: flex;
        flex-direction: column;
        @extend .page-header;
        text-align: center;

        &--line {
          margin: 0.5rem 0;
          &.line-1 {
          }
          &.line-2 {
            @extend .section-header;
          }
        }
      }
      &__bio {
        @extend .body-copy;
        text-align: justify;
        margin-bottom: 0.5rem;
        @include tablet {
        }
      }
      &__socials {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-grow: 2;
        .social {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          &:hover {
            cursor: pointer;

            & > .social__text {
              transform: translateY(1.5625rem);
              color: $color-text-dark;
              text-shadow: 0 0 0.625rem rgba(white, 0.8);
            }
            & > .social__image {
              transform: scale(105%);
            }
          }

          &__image {
            height: 3rem;
            transition: all 0.1s linear;

            @include tablet {
              height: 4.6875rem;
            }
          }
          &__text {
            @extend .label;
            font-weight: 600;
            letter-spacing: 0.2ch;
            position: absolute;
            top: 65%;

            color: rgba(0, 0, 0, 0);

            transition:
              transform 0.2s ease-in-out,
              color 0.15s linear;
          }

          &__notification {
            position: absolute;
          }
        }
      }
    }
  }

  .pitch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-text-light;
    text-shadow: 0 0 1.25rem black;
    width: 100%;

    @include desktop {
      flex-direction: row;
    }

    &__text-container {
      @include desktop {
        width: 50%;
      }
      &--header {
        display: flex;
        flex-direction: column;
        @extend .section-header;
        text-align: center;
        margin: 0.5rem 0;
        font-weight: 600;
        letter-spacing: 0.1ch;
      }
      &--bio {
        @extend .body-copy;
        text-align: justify;
      }
    }

    &__image {
      width: 75%;
      align-self: center;

      @include desktop {
        width: 50%;
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: row;
    border: 0.0625rem black solid;
    border-radius: 1.25rem;
    padding: 1rem;
    flex-wrap: wrap;
    background-color: rgba($color-light-primary, 0.9);
    box-shadow: 0 0 0.75rem 0.0625rem rgba(0, 0, 0, 0.3);

    @include tablet {
      max-width: 28.75rem;
      align-self: center;
    }

    @include desktop {
      max-width: 56.25rem;
      min-height: 22.5rem;
    }

    &__header {
      display: flex;
      flex-direction: column;
      width: 100%;
      @extend .section-header;
      text-align: center;
      margin: 0.5rem 0;
    }
    &__description {
      @extend .body-copy;
      text-align: center;
      width: 100%;
    }

    .skills-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      margin-top: 1rem;
      @include tablet {
        width: 50%;
      }

      &__header {
        @extend .subheader;
      }
      .info-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 75%;
        &__item {
          margin: 0.5rem 0.75rem;
        }
      }
    }
  }
  .recent-work {
    width: 100%;
    color: $color-text-light;
    text-shadow: 0 0 1.25rem black;
    position: relative;

    &__header {
      display: flex;
      flex-direction: column;
      @extend .section-header;
      text-align: center;
      padding: 0.5rem 0;
    }

    &__tagline {
      @extend .body-copy;
      text-align: center;
      position: relative;
      &--link {

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    &__notification {
      position: absolute;
      top: 0;
    }
    &__list {
      display: flex;
      width: 100%;
      margin: 1rem 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.page-background {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-dark-primary;
  &__layer-2 {
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: -0;
    left: 0;
    z-index: -8;
    background-color: $color-dark-accent;
    // https://wave.novoselski.net/
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 2.40%, 2.00% 2.25%, 4.00% 2.12%, 6.00% 2.00%, 8.00% 1.90%, 10.00% 1.81%, 12.00% 1.75%, 14.00% 1.70%, 16.00% 1.68%, 18.00% 1.67%, 20.00% 1.68%, 22.00% 1.71%, 24.00% 1.76%, 26.00% 1.83%, 28.00% 1.91%, 30.00% 2.01%, 32.00% 2.13%, 34.00% 2.27%, 36.00% 2.42%, 38.00% 2.59%, 40.00% 2.76%, 42.00% 2.95%, 44.00% 3.15%, 46.00% 3.35%, 48.00% 3.56%, 50.00% 3.78%, 52.00% 3.99%, 54.00% 4.21%, 56.00% 4.43%, 58.00% 4.65%, 60.00% 4.86%, 62.00% 5.07%, 64.00% 5.27%, 66.00% 5.47%, 68.00% 5.65%, 70.00% 5.82%, 72.00% 5.98%, 74.00% 6.12%, 76.00% 6.25%, 78.00% 6.36%, 80.00% 6.46%, 82.00% 6.54%, 84.00% 6.60%, 86.00% 6.64%, 88.00% 6.66%, 90.00% 6.67%, 92.00% 6.65%, 94.00% 6.61%, 96.00% 6.56%, 98.00% 6.49%, 100.00% 6.39%);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
