@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.main {
  @extend .format-padding;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.25rem;
  flex-wrap: wrap;
  & > * {
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0 1.25rem 0;
    width: 100%;

    height: max-content;

    @include tablet {
      flex-direction: row;
      min-height: 15.625rem;
      margin-top: 3rem;
      gap: 5%;
    }

    @include desktop {
      margin-top: 5rem;
    }
    &__headshot {
      display: flex;
      min-width: 12.5rem;
      width: 12.5rem;
      height: 12.5rem;
      border-radius: 50%;
      object-fit: cover;
      margin: 0.5rem 0;
      object-position: 50% 25%;
      box-shadow: 0 0 0.75rem 0.0625rem rgba(0, 0, 0, 0.3);

      @include tablet {
        height: 22.5rem;
        border-radius: 1.25rem;
        background-color: #b7ca78;
        object-fit: cover;
        object-position: 50% 50%;
        width: 50%;
        max-width: 18.75rem;
      }
    }

    .about-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      @include tablet {
        width: 75%;
        gap: 1rem;
      }

      @include desktop {
        gap: 1.25rem;
      }

      &__header {
        display: flex;
        flex-direction: column;
        @extend .page-header;
        text-align: center;

        &--line {
          margin: 0.5rem 0;
          &.line-1 {
          }
          &.line-2 {
            @extend .section-header;
          }
        }
      }
      &__bio {
        @extend .body-copy;
        text-align: justify;
        margin-bottom: 0.5rem;
        @include tablet {
        }
      }
      &__socials {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-grow: 2;
        .social {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          &:hover {
            cursor: pointer;

            & > .social__text {
              transform: translateY(1.5625rem);
              color: $color-text-dark;
              text-shadow: 0 0 0.625rem rgba(white, 0.8);
            }
            & > .social__image {
              transform: scale(105%);
            }
          }

          &__image {
            height: 3rem;
            transition: all 0.1s linear;

            @include tablet {
              height: 4.6875rem;
            }
          }
          &__text {
            @extend .label;
            font-weight: 600;
            letter-spacing: 0.2ch;
            position: absolute;
            top: 65%;

            color: rgba(0, 0, 0, 0);

            transition:
              transform 0.2s ease-in-out,
              color 0.15s linear;
          }

          &__notification {
            position: absolute;
          }
        }
      }
    }
  }

  .pitch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-text-dark;
    width: 100%;

    @include desktop {
      flex-direction: row;
    }

    &__text-container {
      @include desktop {
        width: 50%;
      }
      &--header {
        display: flex;
        flex-direction: column;
        @extend .section-header;
        text-align: center;
        margin: 0.5rem 0;
        font-weight: 600;
        letter-spacing: 0.1ch;
      }
      &--bio {
        @extend .body-copy;
        text-align: justify;
      }
    }

    &__image {
      width: 75%;
      align-self: center;

      @include desktop {
        width: 50%;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: row;
    border: 0.0625rem black solid;
    border-radius: 1.25rem;
    padding: 1rem;
    flex-wrap: wrap;
    background-color: rgba($color-light-primary, 0.9);
    box-shadow: 0 0 0.75rem 0.0625rem rgba(0, 0, 0, 0.3);

    @include tablet {
      max-width: 28.75rem;
      align-self: center;
    }

    @include desktop {
      max-width: 56.25rem;
      min-height: 22.5rem;
    }

    &__header {
      display: flex;
      flex-direction: column;
      width: 100%;
      @extend .section-header;
      text-align: center;
      margin: 0.5rem 0;
    }
    &__description {
      @extend .body-copy;
      text-align: center;
      width: 100%;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      margin-top: 1rem;
      @include tablet {
        width: 50%;
      }

      &__header {
        @extend .subheader;
      }
      .info-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 75%;
        &__item {
          margin: 0.5rem 0.75rem;
        }
      }
    }
  }
  .recent-work {
    width: 100%;
    color: $color-text-light;
    text-shadow: 0 0 1.25rem black;
    position: relative;

    &__header {
      display: flex;
      flex-direction: column;
      @extend .section-header;
      text-align: center;
      padding: 0.5rem 0;
    }

    &__tagline {
      @extend .body-copy;
      text-align: center;
      position: relative;
      &--link {

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    &__notification {
      position: absolute;
      top: 0;
    }
    &__list {
      display: flex;
      width: 100%;
      margin: 1rem 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.page-background {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-dark-primary;
  &__layer-2 {
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -8;
    background-color: $color-dark-accent;
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 39.44%,
      2% 39.45%,
      4% 39.48%,
      6% 39.53%,
      8% 39.6%,
      10% 39.69%,
      12% 39.8%,
      14% 39.92%,
      16% 40.06%,
      18% 40.22%,
      20% 40.4%,
      22% 40.59%,
      24% 40.8%,
      26% 41.02%,
      28% 41.26%,
      30% 41.51%,
      32% 41.77%,
      34% 42.04%,
      36% 42.32%,
      38% 42.6%,
      40% 42.9%,
      42% 43.2%,
      44% 43.51%,
      46% 43.82%,
      48% 44.13%,
      50% 44.44%,
      52% 44.76%,
      54% 45.07%,
      56% 45.38%,
      58% 45.69%,
      60% 45.99%,
      62% 46.29%,
      64% 46.57%,
      66% 46.85%,
      68% 47.12%,
      70% 47.38%,
      72% 47.63%,
      74% 47.87%,
      76% 48.09%,
      78% 48.3%,
      80% 48.49%,
      82% 48.67%,
      84% 48.83%,
      86% 48.97%,
      88% 49.09%,
      90% 49.2%,
      92% 49.29%,
      94% 49.36%,
      96% 49.41%,
      98% 49.43%,
      100% 49.44%
    );
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
